body {
  background-color: #070707;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ff2b2b;
  letter-spacing: 3px;
  text-shadow: 0 0 8px rgba(255, 43, 43, 0.6);
}

.center {
  margin-top: 100px;
}

input {
  padding: 12px;
  margin: 10px;
  font-size: 18px;
  width: 220px;
  text-align: center;
  background: #111;
  color: #00e5ff;
  border: 1px solid #ff2b2b;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background: #ff2b2b;
  color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #00e5ff;
  color: #000;
}

.card {
  background: #111;
  padding: 20px;
  margin: 20px auto;
  width: 260px;
  border-left: 4px solid #ff2b2b;
  box-shadow: 0 0 12px rgba(0, 229, 255, 0.2);
}

.progress-container {
  width: 80%;
  background: #222;
  margin: 20px auto;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff2b2b, #00e5ff);
  transition: width 0.8s ease;
}

.data-highlight {
  color: #00e5ff;
  font-weight: bold;
  margin-top: 10px;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.left-panel {
  flex: 1;
  min-width: 300px;
}

.right-panel {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.big-percent {
  font-size: 48px;
  font-weight: bold;
  color: #00f0ff;
  margin-bottom: 15px;
}

.big-countdown {
  font-size: 26px;
  color: #00f0ff;
  margin-bottom: 15px;
}

.big-status {
  font-size: 22px;
  color: white;
}
